mixin pic(name, ext, media, alt)
        picture&attributes(attributes)
            -for(var i = 0; i < media.length; i++ )
                case media[i]
                    when 'lg'
                        source(srcset=`img/webp/${name}-lg.webp`, type="image/webp", media="(min-width: 800px)")
                        source(srcset=`img/${name}-lg.${ext}` alt=`${alt}`, media="(min-width: 800px)")
                    when 'md'
                        source(srcset=`img/webp/${name}-md.webp`, type="image/webp", media="(min-width: 600px)")
                        source(srcset=`img/${name}-md.${ext}` media="(min-width: 600px)")
                    default
                        source(srcset=`img/webp/${name}.webp`, type="image/webp")
                        img(src=`img/${name}.${ext}` alt=`${alt}`)

mixin logos(name, ext)
    picture
        source(srcset=`img/svg/${name}.svg`, type="image/svg")
        source(srcset=`img/${name}-md.png`, type="image/png" media="(min-width: 600px)")
        img(src=`img/${name}.${ext}`)

mixin youtube(id)
    div.video-youtube&attributes(attributes)
        iframe(src=`https://www.youtube.com/embed/${id}`, frameborder="0", allowfullscreen)

//-- en este menu se especifican.
//-- la clase para el ul, li y a. (como string)
//-- Se les puede asignar mas de una clase separandolas con espacios.
//-- luego se pasa un array de la siguiente forma [[url, name], [url, name]].
mixin menu(classUl, classLi, classLink, UrlAndName)
    ul(class=`${classUl}`)
        - for (var i = 0; i < UrlAndName.length; i++)
            li(class=`${classLi}`)
                a(class=`${classLink}` href=`/${UrlAndName[i][0]}`)= UrlAndName[i][1]