extends template/template
block main
    main
        .row.about
            .col-12
                h1.about-title Dirección y producción
                h2.about-subtitle Ruben G. Villar
            .col-12.flexbox.wrap.about-banner
                .col-12.medium-col-3.about-banner-activity
                    h2.about-banner-activity-title Diseño
                    p.about-banner-activity-paragraph  Actualmente activo en diseño gráfico y web con mas de 10 años de experiencia en el rubro. Ahora como diseñador freelance.
                .col-12.medium-col-6.about-banner-image
                    +pic('about', 'png', ['lg', 'md', 'base'], 'Ruben Gustavo Villar')(class="about-banner-img")
                .col-12.medium-col-3.about-banner-activity
                    h2.about-banner-activity-title.right Programación
                    p.about-banner-activity-paragraph.right Recientemente programando sitios dinámicos y totalmente escalables con NodeJS. Aplicando el potencial de JavaScript tanto en el servidor como en el cliente.
            .col-12.flexbox.banner-technology
                .col-3.banner-technology-html
                    span.icon-html5 HTML
                .col-3.banner-technology-css
                    span.icon-css3 CSS
                .col-3.banner-technology-javascript
                    span.icon-javascript JavaScript
                .col-3.banner-technology-nodejs
                    span.icon-nodejs NodeJS