extends template/template
block main
    main
        .row.contact-content
            .col-12
                h1.contact-heading Contacto
            .col-12.medium-col-6.contact-map
                #map.map
            .col-12.medium-col-6
                form(action="/contact" method="post").form-contact
                    fielset.row
                        input(type="text" name="name" placeholder="Nombre").col-12.form-contact-camp
                        input(type="email" name="email" placeholder="Email").col-12.form-contact-camp
                        input(type="text" name="affair" placeholder="Asunto").col-12.form-contact-camp
                        textarea(rows="10" name="message" placeholder="Mensaje").col-12.form-contact-camp
                        -if(!message)
                            input(type="submit").col-12.form-contact-camp.buttom.send
                        -else
                            .col-12.form-contact-sent= message
    block bottom
        script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPAzDyAt8mmTV-hefiIFwbiXtXm3TODj0&callback=initMap")