extends template/template
block main
    main
        div.error
            h1 Error Nº #{error.status}:
            h2 #{error.statusText} La página no existe.
            a.button.show(href="/") Inicio