extends template/template
block main
    main
        .row
            .main-banner.col-12
                h2.main-banner-subtitle Trabajamos para vos
                h1.main-banner-title Optimizaciones
                a(href="/apps").main-banner-buttom#main-banner-buttom Ver aplicaciones