extends template/template
block main
    -if(newsmessage)
        .col-12.news-message= newsmessage
    main
        .row
            .col-12
                h1.optimizer-page-heading Optimizador lineal
        if(!optimizedProfiles)
            .row
                .col-12.medium-col-6.optimizer-box
                    form(action="/linear" method="post").optimizer-form
                        fieldset.optimizer-form-fieldset
                            legend Perfiles
                            .optimizer-profiles#all-profiles
                                .optimizer-form-profile
                                    input(type="number" placeholder="Tamaño de la barra" name="bar" required).optimizer-form-profile-camp.col-8
                                .optimizer-form-profile
                                    input(type="number" placeholder="Desperdicio de la barra" name="waste" required).optimizer-form-profile-camp
                                .optimizer-form-profile
                                    input(type="text" placeholder="Tipologia" name="typology" required).optimizer-form-profile-camp
                                    input(type="number" placeholder="Medida" name="measure" required).optimizer-form-profile-camp
                                .optimizer-form-profile
                                    input(type="text" placeholder="Tipologia" name="typology" required).optimizer-form-profile-camp
                                    input(type="number" placeholder="Medida" name="measure" required).optimizer-form-profile-camp
                            .optimizer-form-botton--agregar#optimizer-agregar: span.fa.fa-plus
                                | Agregar perfil
                        input(type="submit" value="Optimizar").optimizer-form-botton--optimizer#optimizer-send.col-12
                .col-12.medium-col-6.optimizer-box
                    h2 Instrucciones de uso.
                    p Optimización lineal solo se le deben pasar valores en milimetros (6 Mts. = 6 * 1000). En medidas mas grandes pueden haber perdidas de material no haciendonos cargo del mismo.
                    p El campo de Tipología es un identificador del perfil a cortar por ejemplo: PF1.
                    p El botón para agregar agrega más campos para agregar estos perfiles deben ser para un mismo tipo de barra o material.
                    p Luego una vez ingresados todos los perfiles enviar a cortar para que el sistema calcule las barras a cortar y que cortes debe hacer.
                    p Muchas gracias por usar nuestro sistema de optimización.
        else
            .row
                .col-12
                    h2 Cortes a ralizar
            .row
                .col-12
                    p La barra mide #{optimizedProfiles.barMeasure} milimetros.
                    p Hacen falta #{optimizedProfiles.cutBar.length} barras para cortar estos perfiles.
                .col-12.content-bar
                    -for(var i = 0; i < optimizedProfiles.cutBar.length; i++)
                        .bar
                            -for(var x = 0; x < optimizedProfiles.cutBar[i].length; x++)
                                -width = Math.floor((100 / optimizedProfiles.barMeasure*optimizedProfiles.cutBar[i][x].measure) * 100) / 100
                                .bar-profile(style=`width: ${width}%`)
                                    .typology #{optimizedProfiles.cutBar[i][x].typology}
                                    .measure #{optimizedProfiles.cutBar[i][x].measure}