.social.col-12.small-col-6.medium-col-4
    h2.social-heading Redes Sociales
    div.social-container.col-12
        a(href="https://www.facebook.com/Lastwer.service/" target="_blank").social-link.icon-facebook
        a(href="https://twitter.com/Lastwer" target="_blank").social-link.icon-twitter
        a(href="https://www.youtube.com/c/Lastwer" target="_blank").social-link.icon-youtube