.main-contact.col-12.small-col-6.medium-col-4(itemscope itemtype="http://schema.org/PostalAddress")
    h2.contact-heading Contacto
    div.contact-email
        span.contact-icon--email.icon-mail
        a(href="mailto:contacto@lastwer.com"): span(itemprop="email").contact--link contacto@lastwer.com
    div.contact-tel(itemprop="telephone")
        span.contact-icon--telephone.icon-whatsapp
        a(href="tel:+5492236925677").contact--link +54 9 223 6925677
    a(href="https://www.google.com.ar/maps/place/Rep%C3%BAblica+del+L%C3%ADbano+1145,+B7604HVG+Mar+del+Plata,+Buenos+Aires/@-37.9741342,-57.5866976,17z/data=!3m1!4b1!4m5!3m4!1s0x9584d91034f4c98f:0xa05e02f2ffa19d33!8m2!3d-37.9741342!4d-57.5845089" target="_blank")
        div.contact-address(itemprop="streetAddress")
            span.contact-icon--address.icon-map
            span.contact-streetAddress Republica del libano 1145
        div.contact-localation
            span(itemprop="addressLocality").contact-addressLocality Mar del Plata,
            span(itemprop="addressRegion").contact-addressRegion Buenos Aires,
            span(itemprop="addressCountry").contact-addressCountry Argentina