.donation.col-12.medium-col-4
    h2.donation-heading Apoyar al proyecto
    .donation-medios
        a(href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=J3RNDNE66ZUUG" target="_blank").donation-medio-paypal
        a(href="https://forms.todopago.com.ar/formulario/commands?command=formulario&m=c4255be9e4a72a7a22588d7d86c636e7#utm_source=84954&utm_medium=boton_de_pago&utm_campaign=web" target="_blank").donation-medio-todopago
        a(href="http://mpago.la/VeNR" target="_blank").donation-medio-mercadopago