div.icon-bars.col-2.toggle-main-menu#toggle-main-menu
nav.nav-menu.col-12.medium-col-8#nav-menu
    +menu('main-menu', 'main-menu-item', 'main-menu-link', [['', 'Inicio'], ['apps', 'Aplicaciones'], ['about', 'Acerca'],['contact', 'Contacto']])