include ../config/variables
include ../config/mixins

doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        title #{title} | Lastwer
        meta(name="description" content="Se dedica al diseño grafico, web, programación y venta de productos informaticos.")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        link(rel="stylesheet", href='./css/styles.ltmin.css')
    body
        include ../blocks/header
        block main
        include ../blocks/footer
        script(src=`./js/scripts.ltmin.js`)
        block bottom